.secao-banner {
    margin-top: 80px;
    background-color: rgb(235, 211, 104);
       
}

.banner {
    background-image: url('../../../public/assets/banner-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    text-shadow: 3px 3px 3px  #504e4e;
}

.secao {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.metade {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;

}

.metade p {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 450;
    text-align: justify;
    line-height: 22px;
}

.imagem-secao {
    width: 50%;
}

.texto {
    width: 50%;
}


@media(max-width: 768px) {
    .banner {
        font-size: 40px;
        text-align: center;
    }

    .secao, .imagem-secao, .texto {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .eventos {
        flex-direction: column-reverse;
    }

    .metade {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 425px) {
    .metade h2{
        font-size: 32px;
    }

    .metade {
        height: 100%;
        padding: 40px 0;
    }
}